
body
{
  background-image: url("./assets/fondoStar.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  animation: backgroundAnimation 30s linear infinite;
}


@keyframes backgroundAnimation {
  0% {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  50% {
    background-size: 160%;
    background-repeat: no-repeat;
  }
  100% {
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
