

<body *ngIf="data" class="main">

  <div class="containerSearch">
    <div class="nav">
      <input class="inputSelector" type="text" [(ngModel)]="index" />
    </div>
    <div class="nav2">
      <button class="buttonSelector" (click)="getData()">Search</button>
    </div>
  </div>


  <div class="carta" >
      <h1 class="title">{{ data.name }}</h1>
      <img src="{{ data.image }}" class="img"/>

      <div class="properties">
        <label *ngIf="data" >Status: {{ data.status }}</label>
        <label *ngIf="data"  >Species: {{ data.species }}</label>
        <label >Home planet: {{ data.origin.name }}</label>
      </div>
  </div>

  <img src="assets/portal.png" class="fondo1">
  <img src="assets/ovni.png" class="fondo2">
  <img src="assets/loguito.png" class="fondo3">



  <a href="https://github.com/Daniel36z/Angular" target="_blank">
    <img src="assets/logogit.png" class="fondo4">
  </a>


  <div  class="bannerText">
    <h1 class="textInfo" > Daniel 36z</h1>
  </div>

  <img src="assets/pepinillo.png" class="fondo5">

</body>


